{% extends 'court_base.html' %}

{% block court_content %}

This is court#{{court_id}}. This contains a lobby and a game.

<h3>{{ role }}</h3>

{{ court_id|json_script:"court-id" }}

{% include "create_court.html" %}

{% include "lobby.html" %}

{% include "game.html" %}

<script>
    // ================================
    // KEEP AS MUCH JS HERE AS POSSIBLE
    // ================================

    /*
    GLOBALS
    -------
    */

    // Session Stuff
    var role = '{{role}}';
    var session_division = ''
    var session_shot_clock = 17
    var session_player_name = ''
    var session_player_icon = ''
    var session_questions = []

    // Template Stuff
    const create_container = document.getElementById('create-container')
    const lobby_container_el = document.getElementById('lobby-container')
    const lobby_shot_clock_el = document.getElementById('config-shot-clock-display')
    const lobby_division_el = document.getElementById('config-division-display')
    const game_container_el = document.getElementById('game-container')


    /* 
    WEBSOCKET CONNECT & CREATE COURT
    --------------------------------
    Start a connection
    On message recieve functionality
    */

    const court_id = JSON.parse(document.getElementById('court-id').textContent)
    const court_socket = new WebSocket(
        'ws://' 
        + window.location.host
        + '/ws/court/'
        + court_id
        + '/'
    );

    court_socket.onerror = function(e) {
        console.log(e)
    }

    court_socket.onmessage = function(e) {
        const data = JSON.parse(e.data)
        console.log('Websocket msg: ', data['message'])

        // CREATED COURT (SUCCESS)
        if (data['message'] === 'arrival_message') {
            if (role === 'captain') {
                console.log('CAPTAIN HAS JOINED!')
                session_player_name = 'Player #1'
                player_list_row_element = document.getElementById('player-list')
                var new_player_col_element = document.createElement('div')
                new_player_col_element.appendChild(document.createTextNode(session_player_name))
                player_list_row_element.appendChild(new_player_col_element)
            }
            else if (role === 'player') {
                console.log('im just a player, here!')
                ask_captain_for_game_config_options() // player in lobby
            }
            
        }
        // CREATED GAME (SUCCESS)
        else if (data['message'] === 'created_game_message') {
            if (role === 'captain') {
                console.log('GAME CREATED, Transision To LObby NExt.')
                session_division = data['text']['division']
                session_shot_clock = data['text']['shot_clock']
                question_set_data = data['text']['question_set']
                question_set_parsed_data = JSON.parse(question_set_data)
                session_questions = question_set_parsed_data
                console.log('questions:', session_questions)
                console.log('divisions:', session_division)
                console.log('shot_clock:', session_shot_clock)
            }
            else if (role === 'player') {

            }            
        }
        else if (data['message'] === 'captain_send_game_config_message') {
            if (role == 'captain') {
                send_game_config_options()
            }
        }
        else if (data['message'] === 'player_load_lobby_message') {
            if (role === 'player') {
                console.log('Game Config Options Have Arrived')
                data_parsed = data['text']
                console.log(data_parsed)
                session_division = data_parsed['division']
                session_shot_clock = data_parsed['shot_clock']
                display_game_config_in_lobby()
            }
        }
        else if (data['message'] === 'start_game_message') {
            
        }
    }

    /*
    CREATE GAME & SHOW LOBBY
    ------------------------
    Also loads questions from db
    Eventually (user a websocket to get the next 10 questions)
    Current (get 1 question)
    */

    document.getElementById('game-config-form').addEventListener('submit', function(event) {
        event.preventDefault();
        const form = event.target
        const form_data = new FormData(form)
        const division = form_data.getAll('division')
        const shot_clock = form_data.get('shot_clock')
        const url = form.getAttribute('action')
        const method = form.getAttribute('method') 
        const xhr = new XMLHttpRequest()
        const responseType = 'json'
        xhr.open(method, url) // make the request 
        xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest') // convetion to call setRequestHeader is after open and before send
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
        
        xhr.onload = function() {
            if (xhr.status === 201) {
                const r = xhr.response
                r_json = JSON.parse(r)
                console.log('given divs:')
                console.log(division)

                court_socket.send(JSON.stringify({
                    'message_type': 'create_game', // analagous to create lobby
                    'shot_clock': shot_clock,
                    'division': division
                }));
            }     
            else {
                const r = xhr.response
                console.log(r)
            }
        }

        xhr.onerror = function() {
                alert("An error has occurred.")
        }
        
        xhr.send(form_data)
        
        
    });    

    const ask_captain_for_game_config_options = function() {
        court_socket.send(JSON.stringify({
            'message_type': 'load_game_config',
        }));
    }

    const send_game_config_options = function() {
        court_socket.send(JSON.stringify({
            'message_type': 'sent_game_config',
            'shot_clock': session_shot_clock,
            'division': session_division,
            'question_set': session_questions,
        }));
    }


    const display_game_config_in_lobby = function() {
        console.log('SSC: ', session_shot_clock)
        
        lobby_shot_clock_el.appendChild(document.createTextNode(session_shot_clock))
        lobby_division_el.appendChild(document.createTextNode(session_division))
    }

    /* 
    START GAME
    ----------
    Toggle lobby template
    Toggle game template
    (Auto-toggle takes care of correct visbility)
    */

    document.getElementById('start-game').addEventListener('click', function(event) {
        event.preventDefault();
        console.log(game_container_el);
        game_container_el.classList.toggle('invisible');
        lobby_container_el.classList.toggle('invisible');
    });

    /* 
    END GAME
    --------
    Hide game template
    Show lobby template
    */

    document.getElementById('end-game').addEventListener('click', function(event) {
        event.preventDefault();
        console.log(lobby_container_el);
        lobby_container_el.classList.toggle('invisible');
        game_container_el.classList.toggle('invisible');
    });




</script>

{% endblock %}
