{% extends 'court_base.html' %}

{% block court_content %}

This is court#{{court_id}}. This contains a lobby and a game.

<button onclick="leave_game()">QUIT</button>

<h3>{{ role }}</h3>

{{ court_id|json_script:"court-id" }}

{% include "create_court.html" %}

{% include "lobby.html" %}

{% include "game.html" %}

<form id='obtain-player-id-form' action="{% url 'get_player_id' %}" method='POST' class='invisible'>
    {% csrf_token %}
    <input type='text' id='obtain-form-court-id' name='obtain-form-court-id' value={{court_id}}>
    <input type="submit" value='OK'>
</form>

<script>
    // ================================
    // KEEP AS MUCH JS HERE AS POSSIBLE
    // ================================

    /*
    GLOBALS
    -------
    */

    // Session Stuff
    var session_court_id = '{{court_id}}'
    var role = '{{role}}';
    var session_division = ''
    var session_shot_clock = 10
    var session_player_id = ''
    var session_player_icon = ''
    var session_questions = []
    var session_config_loaded = false
    var session_player_list = []
    var session_state = 'create' // create, lobby, game, results
    var session_question_counter = -1
    var round_question_counter = -1
    var current_question_answer = 0 // 0 for incorrect, 1 for correct
    var session_current_question = {}
    
    var round_results_tracker = [0,0,0,0,0,0,0,0,0,0] // list of dicts
    var round_player_answer_total = 0
    /*
        results tracker dict map examples
        0 - incorrect answer
        1 - correct answer
        {
            'id': 'question_id',
            'player_1': '1',
            'player_2': '1',
            'player_3': '0',
            'player_4': '1',
        }
    */


    // Template Stuff
    const create_container_el = document.getElementById('create-container')
    const lobby_container_el = document.getElementById('lobby-container')
    const lobby_shot_clock_el = document.getElementById('config-shot-clock-display')
    const lobby_division_el = document.getElementById('config-division-display')
    const game_container_el = document.getElementById('game-container')
    const question_form_el = document.getElementById('question-form')
    const question_form_fieldset_el = question_form_el.elements.namedItem('question-form-fieldset')


    const load_session_state_ui = function(_state) {
        if (create_container_el.classList.contains('invisible') == false) create_container_el.classList.toggle('invisible');
        if (lobby_container_el.classList.contains('invisible') == false) lobby_container_el.classList.toggle('invisible');
        if (game_container_el.classList.contains('invisible') == false) game_container_el.classList.toggle('invisible');
        //if (create_container_el.classList.contains('invisible')) create_container_el.classList.toggle('invisible');
        
        console.log('STATE: ', _state);
        if (_state == 'create') {
            create_container_el.classList.toggle('invisible')
        } else if (_state == 'lobby') {
            lobby_container_el.classList.toggle('invisible')
        } else if (_state == 'game') {
            game_container_el.classList.toggle('invisible');
        } else if (_state == 'endgame') {
            // TODO
        } else {
            console.log('incorrect state!')
        }
        session_state = _state
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    /* 
    WEBSOCKET CONNECT & CREATE COURT
    --------------------------------
    Start a connection
    On message recieve functionality
    */

    const broadcast_my_player_id = function() {
        console.log('BROADCASTING ID: ', session_player_id)
        court_socket.send(JSON.stringify({
            'message_type': 'player_id_broadcast',
            'player_id': session_player_id,
        }));
    }

    const obtain_player_id = function() {
        document.getElementById('obtain-player-id-form').requestSubmit();
    }

    document.getElementById('obtain-player-id-form').addEventListener('submit', function(event) {
        event.preventDefault();
        const form = event.target
        const form_data = new FormData(form)
        const url = form.getAttribute('action')
        const method = form.getAttribute('method') 
        const xhr = new XMLHttpRequest()
        const responseType = 'json'
        xhr.open(method, url) // make the request 
        xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest') // convetion to call setRequestHeader is after open and before send
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
        
        xhr.onload = function() {
            if (xhr.status === 201) {
                const r = xhr.response
                r_json = JSON.parse(r)
                session_player_id = r_json.message.player_id
                broadcast_my_player_id()
            }     
            else {
                const r = xhr.response
                console.log(r)
            }
        }
        xhr.send(form_data)
    });  

    window.onunload = function leave_game(e) {
        session_exit_form_data = new FormData()
        session_exit_form_data.append("csrfmiddlewaretoken", csrftoken)
        session_exit_form_data.append('court_id', session_court_id)
        session_exit_form_data.append('player_id', session_player_id)
        session_exit_form_data.append("player_role", role)
        navigator.sendBeacon('/court/leave_court/', session_exit_form_data)
    }

    const court_id = JSON.parse(document.getElementById('court-id').textContent)
    const court_socket = new WebSocket(
        'ws://' 
        + window.location.host
        + '/ws/court/'
        + court_id
        + '/'
    );

    court_socket.onopen = function(e) {
        obtain_player_id()
    }

    court_socket.onerror = function(e) {
        console.log(e)
    }

    court_socket.onclose = function(e) {
    }

    court_socket.onmessage = function(e) {
        const data = JSON.parse(e.data)
        console.log('Websocket msg: ', data['message'])

        // CREATED COURT (SUCCESS)
        if (data['message'] === 'arrival_message') {
            if (role === 'captain') {
                if(session_config_loaded == 'false') {
                    load_session_state_ui('create')
                }
                // TODO: do something about this 
                // all this keeps getting repeated everyone time someone arrives
                player_list_row_element = document.getElementById('player-list')
                var new_player_col_element = document.createElement('div')
                new_player_col_element.appendChild(document.createTextNode(session_player_id))
                player_list_row_element.appendChild(new_player_col_element)                
            }
            else if (role === 'player') {
                if(session_config_loaded == false) {
                    ask_captain_for_game_config_options() // player in lobby
                    load_session_state_ui('lobby')
                    
                }
            }
        }
        
        // BROADCASTED PLAYER ID RECIEVED
        else if (data['message'] === 'player_id_broadcast_message') {
            session_player_list.push(data['text']['player_id'])
        }

        // CREATED GAME (SUCCESS)
        else if (data['message'] === 'created_game_message') {
            if (role === 'captain') {
                load_session_state_ui('lobby')
                session_division = data['text']['division']
                session_shot_clock = parseInt(data['text']['shot_clock'])
                // the first time captain recieves question set from player
                // we need to parse it (won't be doing it for player)
                session_questions = JSON.parse(data['text']['question_set'])
                console.log('CAPTAINS Qs: ', session_questions)
                display_game_config_in_lobby()
                session_config_loaded = true
            }        
        }
        else if (data['message'] === 'captain_send_game_config_message') {
            if (role == 'captain') {
                send_game_config_options()
            }
        }
        else if (data['message'] === 'player_load_lobby_message') {
            if (role === 'player') {
                if (session_config_loaded === false) {
                    data_parsed = data['text']
                    session_division = data_parsed['division']
                    session_shot_clock = parseInt(data_parsed['shot_clock'])
                    session_questions = data_parsed['question_set']
                    console.log('PLAYERS Qs: ', session_questions)
                    display_game_config_in_lobby()
                    session_config_loaded = true
                }
                
            }
        }
        else if (data['message'] === 'start_game_message') {
            console.log(game_container_el);
            load_session_state_ui('game')
            start_game()
        }
        else if (data['message'] === 'player_answer_posted_message') {
            if (role === 'captain') {
                round_player_answer_total += 1
                // if all player's have answered then move to next question
                if (round_player_answer_total === session_player_list.length) {
                    console.log('everyone has answered.')
                    tell_players_to_load_next_question()
                    
                }
            }
            // player just shows someone has posted an answer
            console.log('a player posted an answer!!')   
        }
        else if (data['message'] === 'load_next_question_message') {
            load_next_question()
        }
        else if (data['message'] === 'player_exit_broadcast_message') {
            exited_player_id = data['text']['player_id']
            exited_player_role = data['text']['player_role']
            // TODO: If exited player role is captain -> leave game and redirect to home
            const index = session_player_list.indexOf(exited_player_id)
            if (index > -1) {
                session_player_list.splice(index, 1)
                console.log('PLAYER LIST NOW: ', session_player_list)
            } else {
                console.log(typeof(exited_player_id))
            }
        }
    }

    /*
    CREATE GAME & SHOW LOBBY
    ------------------------
    Also loads questions from db
    Eventually (user a websocket to get the next 10 questions)
    Current (get 1 question)
    */

    document.getElementById('game-config-form').addEventListener('submit', function(event) {
        event.preventDefault();
        const form = event.target
        const form_data = new FormData(form)
        const division = form_data.getAll('division')
        const shot_clock = form_data.get('shot_clock')
        const url = form.getAttribute('action')
        const method = form.getAttribute('method') 
        const xhr = new XMLHttpRequest()
        const responseType = 'json'
        xhr.open(method, url) // make the request 
        xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest') // convetion to call setRequestHeader is after open and before send
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
        
        xhr.onload = function() {
            if (xhr.status === 201) {
                const r = xhr.response
                r_json = JSON.parse(r)
                console.log('given divs:')
                console.log(division)

                court_socket.send(JSON.stringify({
                    'message_type': 'create_game', // analagous to create lobby
                    'shot_clock': shot_clock,
                    'division': division
                }));
            }     
            else {
                const r = xhr.response
                console.log(r)
            }
        }

        xhr.onerror = function() {
                alert("An error has occurred.")
        }
        
        xhr.send(form_data)
        
        
    });    

    const ask_captain_for_game_config_options = function() {
        court_socket.send(JSON.stringify({
            'message_type': 'load_game_config',
        }));
    }

    const send_game_config_options = function() {
        court_socket.send(JSON.stringify({
            'message_type': 'sent_game_config',
            'shot_clock': session_shot_clock,
            'division': session_division,
            'question_set': session_questions,
        }));
    }

    const display_game_config_in_lobby = function() {
        console.log('SSC: ', session_shot_clock)
        
        lobby_shot_clock_el.appendChild(document.createTextNode(session_shot_clock))
        lobby_division_el.appendChild(document.createTextNode(session_division))
    }

    /* 
    START GAME
    ----------
    Toggle lobby template
    Toggle game template
    (Auto-toggle takes care of correct visbility)
    */

    document.getElementById('start-game').addEventListener('click', function(event) {
        event.preventDefault();
        tell_players_to_start_game()
    });

    const tell_players_to_start_game = function() {
        court_socket.send(JSON.stringify({
            'message_type': 'start_game',
            'shot_clock': session_shot_clock,
            'division': session_division,
            'question_set': session_questions,
        }));
    }
    
    // QUESTION FORM SUBMIT BY PLAYER
    question_form_el.addEventListener('submit', function(event) {
        event.preventDefault();

        // Disable form
        question_form_fieldset_el.disabled = true;
        
        // Reset Shot Clock
        // clearTimeout(sc_timeout_holder)
        //seconds = session_shot_clock + 1

        // Check for correct Answer
        if (question_form_el.elements.namedItem(session_current_question['answer']).checked == true) {
            console.log('You got this right!')
            current_question_answer = 1
            //setTimeout(load_next_question, 3000);
        } else {
            current_question_answer = 0
            console.log('You got this wrong!')
        }

        //round_results_tracker.push(current_question_answer)
        round_results_tracker[round_question_counter] = current_question_answer
        current_question_answer = 0

        // Let everyone know!
        court_socket.send(JSON.stringify({
            'message_type': 'player_answer',
        }));
    });

    const load_question_details = function() {
        question_form_el.elements.namedItem('a').labels[0].textContent = session_current_question['c_a']
        question_form_el.elements.namedItem('b').labels[0].textContent = session_current_question['c_b']
        question_form_el.elements.namedItem('c').labels[0].textContent = session_current_question['c_c']
        question_form_el.elements.namedItem('d').labels[0].textContent = session_current_question['c_d'] 
    }

    /*
        results tracker dict map examples
        0 - incorrect answer
        1 - correct answer
        {
            'id': 'question_id',
            'player_1': '1',
            'player_2': '1',
            'player_3': '0',
            'player_4': '1',
        }
    */

    const load_next_question = function() {
        
        // Reset Shot Clock
        clearTimeout(sc_timeout_holder)
        seconds = 3 + 1

        // Update Question Counters
        session_question_counter += 1
        round_question_counter += 1
        round_player_answer_total = 0

        // Current form needs to be reset before loading next question
        question_form_el.reset()

        // Check if round has ended
        if (round_question_counter > 9) {
            // show end results
            session_question_counter -= 1 // reel back session question counter
            console.log('ROUND ENDED!')
            // Show results
            if (role === 'captain')
            {

            }
            // calculate_and_send_round_results()
        }

        // Check if all Questions Exhausted
        else if (session_question_counter > session_questions.length - 1) {
            console.log('QUESTION LIST EXHAUSTED')
            console.log('MY RESULTS WERE:', round_results_tracker)
            return
        }
        
        // If Next Question Available  
        else {
            question_form_fieldset_el.disabled = false;
            session_current_question = session_questions[session_question_counter];
            // update form
            load_question_details()
            update_shot_clock()
        }
    }

    var seconds = session_shot_clock + 1 // needs to be +1 in order for correct timing
    var sc_timeout_holder;

    shot_clock_container_el = document.getElementById('shot-clock-container')
    const update_shot_clock = function() {        
        if (seconds --> 0) {
            shot_clock_container_el.textContent = seconds
            if (seconds === 0) {
                question_form_fieldset_el.disabled = true;  
                
                // SC ended (next question must be loaded for "everyone")
                // TODO Send a court_socket_message that SC ended
                if (role === 'captain') {
                    tell_players_to_load_next_question()
                }
            } else {
                sc_timeout_holder = setTimeout(update_shot_clock, 1000) 
            }  
        }
    }

    const tell_players_to_load_next_question = function() {
        console.log('telling players!')
        // Let everyone know!
        court_socket.send(JSON.stringify({
            'message_type': 'tell_player_load_next_question',
        }));
    }

    const start_new_round = function() {
        // for now lets load a question
        if (session_question_counter > session_questions.length - 1)
        {
            // Does this check really need to be here?
            // Can this be taken care of in load questions?
            // I think so!
            // AKA TODO
        }
        round_question_counter = -1
        load_next_question()
        
    }

    const start_game = function() {
        console.log('QUESTION SET AT START: ', session_questions)
        // TODO show a 3-2-1
        start_new_round()
    }

    /* 
    END GAME
    --------
    Hide game template
    Show lobby template
    */

    document.getElementById('end-game').addEventListener('click', function(event) {
        event.preventDefault();
        console.log(lobby_container_el);
        lobby_container_el.classList.toggle('invisible');
        game_container_el.classList.toggle('invisible');
    });
</script>

{% endblock %}
