<nav class="navbar fixed-top navbar-dark">
  
  <div class="navbar-header">
    <a href='/' class="navbar-brand">
      {% load static %}
      <img id='court-navbar-logo' src="{% static 'images/player_black.png' %}" alt='RUN AND GUN LOGO'  width='60' height='60'>
    </a>
  </div>

  <div class='d-flex justify-content-end'>
    <a class="nav-link text-dark font-weight-bold" data-toggle="modal" data-target="#how-to-modal" role='button'>- HOW TO PLAY -</a>
  </div>

</nav>


<!-- NAVBAR Modals -->
<div class="modal fade bg-secondary-my text-primary" id="how-to-modal" tabindex="1" aria-labelledby="how-to-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role='document'>
        <div class="modal-content">
            <div class="modal-header bg-dark-my">
                <p class="modal-title h3 text-success">How To Play & FAQ</p>
            </div>
            <div class="modal-body">
                <p class="h5"> ATLANTIC </p>
                <p class='text-dark'>Brooklyn Nets, Philadelphia 76ers, Boston Celtics, Toronto Raptors, New York Knicks</p>
                <p class="h5"> CENTRAL </p>
                <p class='text-dark'>Indiana Pacers, Cleaveland Cavaliers, Milwaukee Bucks, Detroit Pistons, Chicago Bulls </p>
                <p class="h5"> SOUTHEAST </p>
                <p class='text-dark'>Orlando Magic, Atlanta Hawks, Miami Heat, Washington Wizards, Charlotte Hornets</p>
                <p class="h5"> NORTHWEST </p>
                <p class='text-dark'>Utah Jazz, Minnesota Timberwolves, Oklahoma City Thunder, Portland Trail Blazers, Denver Nuggets</p>
                <p class="h5"> PACIFIC </p>
                <p class='text-dark'>Los Angeles Clippers, Los Angeles Lakers, Phoenix Suns, Sacramento Kings, Golden State Warriors</p>
                <p class="h5"> SOUTHWEST </p>
                <p class='text-dark'>San Antonio Spurs, New Orleans Pelicans, Houston Rockets, Memphis Grizzlies, Dallas Mavericks</p>
                <p class="h5"> OTHER </p>
                <p class='text-dark'>Non-Team specific questions, one of the most fun categories!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>    