<div id='create-container' class='h-100 mt-md-auto mt-5'>
    <div class='row align-items-center justify-content-center h-100'>
        <div class='col'>
            <div class='row justify-content-md-start justify-content-center'>
                <div class='col-auto col-md-6'>
                    <p class='display-4'><span class='badge text-light bg-dark-my'>GAME OPTIONS</span></p>
                 </div>
                 <div class='col-auto ml-md-auto display-4 d-none'>
                    <p class='badge badge-dark'>ID: {{court_id}}</p>
                 </div>
            </div>
            <div class='row'>
                <!-- INFO CARD (RIGHT COL) -->
                <div class='col-lg-5 mr-1 text-light p-5'>
                    <div class='row justify-content-center'>
                        <div class='col-auto mb-5'>
                            <div class="card bg-dark-my" style="max-width: 25rem;">
                                <div class="card-header bg-dark">Your Role</div>
                                <div class="card-body p-4">
                                    <h5 class="card-title text-danger-my">CAPTAIN</h5>
                                    <p class="card-text text-justify">
                                        You're in charge of selecting game configuration options, starting and ending games. 
                                        If you leave, the party ends for all other players.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row justify-content-center'>
                        <div class='col-auto'>
                            <div class="card bg-dark-my" style="max-width: 25rem;">
                                <div class="card-header bg-dark">Config Help</div>
                                <div class="card-body p-4">
                                    <h5 class="card-title text-secondary-my">SHOT CLOCK</h5>
                                    <p class="card-text text-justify pb-1">
                                        The time (in seconds) you'll be allotted to answer each question.
                                    </p>
                                    <h5 class="card-title text-secondary-my">DIVISION SELECTION</h5>
                                    <p class="card-text text-justify">
                                        The game will be based on questions from <a role='button' class='badge bg-secondary-my text-light' data-toggle="modal" data-target="#division-team-modal">selected divisions</a>.
                                        Divisions and all other options can be changed any time.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CONFIG OPTIONS -->
                <div class='col-lg-6 p-5 mb-5 bg-dark-my border-primary-my'>
                    <form id="game-config-form" method="POST" action="/court/gameform/">
                        {% csrf_token %}
                        <!-- SHOT CLOCK -->
                        <div class='row justify-content-center'>
                            <div class='col-auto mb-2'>
                                <p class='h2'>SHOT CLOCK</p>
                            </div>
                        </div>
                        <div class='row justify-content-center'>
                            <div class='col-sm-4'>
                                <div class='form-group'>
                                    {{ config_form.shot_clock }}
                                </div>
                            </div>
                        </div>
                        
                        <!-- DIVISIONS -->
                        <div class='row justify-content-center align-items-center mt-4'>
                            <div class='col-auto mb-2'>
                                <p class='h2'>
                                    DIVISION
                                </p>
                            </div>
                        </div>

                        <div class='row justify-content-center align-items-center'>
                            <div class='col-auto mb-4'>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-sm bg-secondary-my text-dark" data-toggle="modal" data-target="#division-team-modal">
                                List Teams <span class="badge bg-dark text-light">?</span>
                                </button>
                            </div>
                        </div>
                        <div class='row justify-content-center'>
                            <div class='col-auto mb-4 pt-4 px-5 bg-dark-my border-light-my' style='border-width:2px;'>
                                {{ config_form.division }}
                            </div>
                        </div>
                        <div class='row justify-content-center mt-2'>
                            <div class='col-auto'>
                                <button class='btn bg-primary-my text-light' type="submit">Create Game</button>
                            </div>
                        </div>
                        
                        {% comment %} {{ config_form.as_p }} {% endcomment %}
                        {% comment %} {{ form.errors }} {% endcomment %}
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Modals -->
<div class="modal fade bg-primary-my text-primary-my" id="division-team-modal" tabindex="1" aria-labelledby="division-team-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style='max-width: 700px;'>
        <div class="modal-content">
            <div class="modal-header bg-dark-my">
                <p class="modal-title h4 text-secondary-my font-weight-bold">Teams Per Division</p>
            </div>
            <div class="modal-body">
                <p class="h5"> ATLANTIC </p>
                <p class='text-dark'>Brooklyn Nets, Philadelphia 76ers, Boston Celtics, Toronto Raptors, New York Knicks</p>
                <p class="h5"> CENTRAL </p>
                <p class='text-dark'>Indiana Pacers, Cleaveland Cavaliers, Milwaukee Bucks, Detroit Pistons, Chicago Bulls </p>
                <p class="h5"> SOUTHEAST </p>
                <p class='text-dark'>Orlando Magic, Atlanta Hawks, Miami Heat, Washington Wizards, Charlotte Hornets</p>
                <p class="h5"> NORTHWEST </p>
                <p class='text-dark'>Utah Jazz, Minnesota Timberwolves, Oklahoma City Thunder, Portland Trail Blazers, Denver Nuggets</p>
                <p class="h5"> PACIFIC </p>
                <p class='text-dark'>Los Angeles Clippers, Los Angeles Lakers, Phoenix Suns, Sacramento Kings, Golden State Warriors</p>
                <p class="h5"> SOUTHWEST </p>
                <p class='text-dark'>San Antonio Spurs, New Orleans Pelicans, Houston Rockets, Memphis Grizzlies, Dallas Mavericks</p>
                <p class="h5"> OTHER </p>
                <p class='text-dark'>Non-Team specific questions, one of the most fun categories!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>    