<div id='game-container' class='h-100 d-none'>
    {% load static %}
    <span id="shot-clock-ui-wrapper">
        <div class="row justify-content-center">
            <div id='shot-clock-container' class='col-auto display-1 align-self-center text-dark-my'>24</div>
        </div>
    </span>
    <div class='row align-items-center justify-content-center h-100'>
        <div class='col'>
            <div class='row'>
                <div class='col-12'>
                    <p class='display-4'><span class='badge text-light bg-dark-my'>GAME</span></p>
                    {% comment %} <span class='badge badge-dark'>ID: {{court_id}}</span> {% endcomment %}
                </div>
            </div>    
            <div class='row mb-3 p-5 justify-content-center bg-primary-my border-dark-my'>
                <div class='col-md-8 mx-auto'>
                    <form id='question-form'>
                        <fieldset id='question-form-fieldset'>
                            <div class="h6 mb-5 p-2 p-4 mt-2 text-center font-weight-bold bg-dark-my border-dark rounded" id='question-display' name='question-display' style='line-height:inherit;'> 
                            Who is the greatest basketball player to ever live, other than Michael Jordan? He didn't play on the Lakers!
                            </div>
                            <div class='input-group mb-3 border border-dark bg-dark-my'>
                                <div class='input-group-prepend'>
                                    <div class='input-group-text bg-dark border border-dark'>
                                        <input type='radio' id='a' name='answer' value='a'>
                                    </div>
                                </div>
                                <label class='form-check-label p-2 pl-3' for='a'>Kobe Bryant</label></br>
                            </div>
                            <div class='input-group mb-3 border border-dark bg-dark-my'>
                                <div class='input-group-prepend'>
                                    <div class='input-group-text bg-dark border border-dark'>
                                        <input type='radio' id='b' name='answer' value='b'>
                                    </div>
                                </div>
                                <label class='form-check-label p-2 pl-3' for='b'>Lebron JamesP</label></br>
                            </div>
                            <div class='input-group mb-3 border border-dark bg-dark-my'>
                                <div class='input-group-prepend'>
                                    <div class='input-group-text bg-dark border border-dark'>
                                        <input type='radio' id='c' name='answer' value='c'>
                                    </div>
                                </div>
                                <label class='form-check-label p-2 pl-3' for='c'>TEMP</label></br>
                            </div>
                            <div class='input-group mb-3 border border-dark bg-dark-my'>
                                <div class='input-group-prepend'>
                                    <div class='input-group-text bg-dark border border-dark'>
                                        <input type='radio' id='d' name='answer' value='d'>
                                    </div>
                                </div>
                                <label class='form-check-label p-2 pl-3' for='d'>TEMP</label></br>
                            </div>
                            <div class='row justify-content-md-center justify-content-end'>
                                <div class='col-auto mt-4'>
                                    <input class='btn btn-lg bg-dark-my text-primary-my font-weight-bold' type='submit' id='question-form-submit' value='Shoot'>
                                </div>
                            </div
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</div>