<div id='game-container' class='d-none'>
    <h1>Game</h1>
    <span id="shot-clock-container"></span>
    <form id='question-form'>
        <fieldset id='question-form-fieldset'>
            <input type='radio' id='a' name='answer' value='a'>
            <label for='a'>BLAH</label></br>
            <input type='radio' id='b' name='answer' value='b'>
            <label for='b'>b</label></br>
            <input type='radio' id='c' name='answer' value='c'>
            <label for='c'>c</label></br>
            <input type='radio' id='d' name='answer' value='d'>
            <label for='d'>d</label></br>
            <input type='submit' id='question-form-submit' value='Send Answer Choice'>
        </fieldset>
    </form>

    <div id='question-display'></div>

</div>