<div id='lobby-container' class='h-100 mt-md-auto mt-5 d-none'>
    {% load static %}
    <div class='row align-items-center justify-content-center h-100'>
        <div class='col'>
            <div class='row'>
                <div class='col-auto align-self-start'>
                    <p class='display-4'><span class='badge text-light bg-dark-my'>LOBBY ID: <span class='text-primary-my'>{{court_id}}</span</span></p>
                 </div>
            </div>   
            <div class='row'>
                <div class='col-auto mt-2'>
                    {% if role == 'player' %}
                        <div class="spinner-grow spinner-grow-sm text-dark mr-1" role="status">
                        </div>
                        <p class='badge badge-pill bg-primary-my p-2 text-light'>Waiting for CAPTAIN to Start Game</p>
                    {% endif %} 
                </div>  
            </div> 
            <div class='row align-items-center my-4 p-5 bg-dark-my border-secondary-my'>
                <div class='col-12 col-md-6 pb-md-auto pb-3'>
                    <div class='row justify-content-center'>
                        <div class='col-auto mb-2'>
                            <div class="spinner-grow spinner-grow-sm text-light mr-1" style='position:relative; bottom:6px;' role="status"></div>
                            <p class='h2' style='display: inline-block;'>PLAYERS HERE</p>
                        </div>
                    </div>
                    <div class='row justify-content-center'>
                        <div class='col-auto mb-2 mt-md-1'>
                            <div id='player-list'>
                            <!-- List of players show up here with JS -->

                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-md-6'>
                    <div class='row justify-content-center'>
                        <div class='col-auto my-2 mt-md-1 text-center'>
                            <p class='h2 mb-4'>YOUR ROLE</p>
                            {% if role == 'captain' %}
                                <p class='badge bg-danger-my p-2 m-1'>CAPTAIN</p> -
                            {% else %}
                                <p class='badge badge-light p-2 m-1'>PLAYER</p> -
                            {% endif %}
                            <p id='lobby-my-role' style='display: inline-block;'></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row bg-dark-my border-primary-my p-5 mb-4'>
                <div id='config-options-display' class='col'>
                    <div class='row justify-content-center'>
                        <div class='col-auto mb-3 text-center'>
                            <p class='h2 mb-3'>DIVISION</p>
                            <div id='config-division-display' class='text-center'>
                                 <!-- List of divisions show up here with JS -->
                            </div>
                        </div>
                    </div>   
                    <div class='row justify-content-center align-items-center'>
                        <div class='col-auto mb-4'>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-sm btn-dark" data-toggle="modal" data-target="#division-team-modal">
                            List of Teams <span class="badge badge-primary">?</span>
                            </button>
                        </div>
                    </div>
                    
                    <div class='row justify-content-center'>
                        <div class='col-auto mt-2'>
                            <p class='h2 mb-3'>SHOT CLOCK</p>
                            <div class='row'>
                                <div class='col-auto badge badge-light mx-auto pt-2 pl-3 pr-3'>
                                    <p class='h4' id='config-shot-clock-display'></p>
                                </div>
                                
                            </div>
                                <!-- Shot clock no. show up here with JS -->
                        </div>
                    </div>                
                </div>            
            </div>
            <div class='row justify-content-center'>
                <div class='col-auto mb-3'>
                    {% if role == 'captain' %}
                        <div class="spinner-grow spinner-grow-sm text-dark mr-1" role="status"></div>
                        <a role='button' class='btn bg-primary-my text-light' href='' id='start-game'>Start Game</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <img class='d-none d-xl-block lobby-player-icon-lg player-dunk-animate' src="{% static 'images/player_blue_dark.png' %}">
    <img class='d-none d-sm-block d-xl-none  lobby-player-icon player-dunk-animate' src="{% static 'images/player_blue_dark.png' %}">

</div>

