html, body {
    height: 100%;
}

li {
    list-style-type: none;
}

ul {
    padding-inline-start: 12px;
}

body{
    background-color: #F6F6F6;
}

.lobby-player-icon {
    position:absolute;
    right: 2%;
    bottom: 27%;
}

.player-icon-one {
    content: url("../images/player_red.png");
}

.player-icon-two {
    content: url("../images/player_yellow.png");
}

.player-icon-three {
    content: url("../images/player_blue.png");
}

.player-icon-four {
    content: url("../images/player_pink.png");
}

.player-icon-lobby {
    display: inline-block;
    width: 40px;
    height: 40px;
}

img.player-dunk-animate {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50px); }
}

.circle-ripple{
position: absolute;
border-radius: 50%;
background: white;
animation: ripple 15s infinite;
box-shadow: 0px 0px 1px 0px #508fb9;
}

.circle-ripple-fast{
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 7.5s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
}

.small{
width: 200px;
height: 200px;
left: -100px;
bottom: 500px;
}

.medium{
width: 400px;
height: 400px;
left: -200px;
bottom: 400px;
}

.large{
width: 600px;
height: 600px;
left: -300px;
bottom: 300px;
}

.xlarge{
width: 800px;
height: 800px;
left: -400px;
bottom: 250px;
}

.xxlarge{
width: 1000px;
height: 1000px;
left: -500px;
bottom: 175px;
}

.shade1{
    opacity: 0.2;
    background-color: #db3eb173;
}
.shade2{
    opacity: 0.5;
    background-color: #db3eb17a;
}

.shade3{
    opacity: 0.7;
    background-color: #db3eb16b;
}

.shade4{
    background-color: #0b1317;
    opacity: 0.8;
}

.shade5{
    background-color: #db3eb1;
    opacity: 0.9;
}

@keyframes ripple{
    0%{
        transform: scale(0.8);
    }

    50%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(0.8);
    }
}

.logo-rotate {
    animation: logo-rotation 2s infinite linear;
  }

@keyframes logo-rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}


#shot-clock-ui-wrapper {
    position:absolute;
    width: 185px;
    height: 157px;
    background-color: #ED145A;
    right: 50px;
    top: 50px;
    text-align: center;
    border: 6px solid black;
}

#shot-clock-container {
    top: 10px;
}

p.correct-q-highlight {
    background-color: #ED145A;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

p.incorrect-q-highlight {
    background-color: cornflowerblue;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

#game-join-options {
    border-style: solid;
    border-width: 14px;
    border-color: #0b1317;
    background-color: #41b6e6;
}

#join-game-button {
    background-color: #0b1317;
    border-color: #0b1317;
}

#create-game {
    background-color: #db3eb1;
    border-color: #db3eb1;
}

.border-dark-my {
    border-style: solid;
    border-width: 14px;
    border-color: #0b1317;   
}

.border-primary-my {
    border-style: solid;
    border-width: 14px;
    border-color: #db3eb1;
}

.border-secondary-my {
    border-style: solid;
    border-width: 14px;
    border-color: #41b6e6;
}

.bg-primary-my {
    background-color: #db3eb1;
}

.bg-secondary-my {
    background-color: #41b6e6;
}

.bg-dark-my {
    background-color: #0b1317;
}

.bg-danger-my {
    background-color: #ED145A;
}

.text-primary-my {
    color: #db3eb1!important;
}

.text-secondary-my {
    color: #41b6e6!important;
}

.text-dark-my {
    color: #0b1317!important;
}

.text-danger-my {
    color: #ED145A;
}

input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}