{% extends 'base.html' %}

{% block navbar %}
  {% include 'index_navbar.html' %}
{% endblock navbar %}

{% block content %}
{% load static %}

<div class='container ripple-background h-100'>
  <div class="circle-ripple xxlarge shade1"></div>

  <div class='row align-items-center justify-content-center p-5 h-100'>
            <!-- BOTTOM TEXT -->
      {% comment %} <div class="home-trivia-text-sm col-12 d-md-none align-self-end text-center order-3">
        <p class='h8 font-weight-bold'><mark class='bg-dark-my text-light p-2'>THE DEFINITIVE</p></mark>
        <p class='h6 font-weight-bold'><mark class='bg-dark-my text-light p-2'>MULTIPLAYER NBA TRIVIA GAME!</p></mark>
      </div> {% endcomment %}
      <div class="home-trivia-text-lg col-12 d-none d-md-block align-self-end text-right">
        <p class='h8 font-weight-bold'><mark class='bg-dark-my text-light p-2'>PLAY, LEARN & COMPETE</mark></p>
        <p class='h6 font-weight-bold'><mark class='bg-dark-my text-light p-2'>A MULTIPLAYER NBA TRIVIA GAME!</mark></p>
      </div>


      <!-- LOGO SM+ -->
      <div class='col-12 align-self-end d-none d-md-block text-center'>
        <img src="{% static 'images/logo_berlin_dark_inverted.png' %}" alt='RUN AND GUN LOGO' width='450' height='450'>
      </div>
      
      <!-- LOGO XS -->
      <div class='col align-self-end d-md-none d-block col-auto'>
        <div class='row'>
          <div class='col  text-center'>
            <img src="{% static 'images/logo_combo_berlin.png' %}" alt='RUN AND GUN LOGO' height='250' width='250'>
          </div>
        </div>
      </div>

      <!-- GAME JOIN OPTIONS -->
      <div id='game-join-options' class='col-lg-6 py-3 mb-5 align-self-center'>
        <div class='row justify-content-center m-3 ml-4'>
          <!-- CREATE -->
          <div class='col-6 d-flex flex-row-reverse'>
            <a class='btn btn-success font-weight-bold btn-lg' role='button' id="create-game" href="{% url 'create_redirect'%}">Create Game</a>
          </div>

          <!-- JOIN -->
          <div class='col-6 d-flex flex-row'>
            <button id='join-game-button' class='btn btn-primary font-weight-bold btn-lg' type='button' data-toggle="collapse" href='#join-game-form-wrapper' aria-expanded="false" aria-controls="join-game-form-wrapper">
              Join Game
            </button>

            
          </div>
          <!-- FORM -->
          <div class='col-auto align-self-center'>
            <div id='join-game-form-wrapper' class='collapse'>
              <form id='join-game-form' action="{% url 'join_redirect' %}" method="POST" >
                {% csrf_token %}
              
                <div class='input-group mt-3'>
                  <input class='form-control border-dark-my' style='border-width:medium;' id="court_id" type="text" placeholder="Enter Court Id..." autocomplete="off" name="court_id" aria-label="Enter Court Id..." aria-describedby="join-game-button">
                  <div class='input-group-append'>
                    <input class='btn btn-success btn-sm' id='join-game-button' type="submit" value="GO">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>




      

    </div>
  </div>
</div>

<script>
const show_join_error_message = function(e) {
  alert(e)
  document.getElementById('redirect-error-msg').innerContent = e
}

document.getElementById('join-game-form').addEventListener('submit', function(event) {
    event.preventDefault();
    const form = event.target
    const form_data = new FormData(form)
    const court_id = form_data.get('court_id')
    const url = form.getAttribute('action')
    const method = form.getAttribute('method') 
    const xhr = new XMLHttpRequest()
    const responseType = 'json'
    xhr.open(method, url) // make the request 
    xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest') // convetion to call setRequestHeader is after open and before send
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
    
    xhr.onload = function() {
        if (xhr.status === 201) {
            r = xhr.response
            r_json = JSON.parse(r)
            window.location.href = '/court/'
                                  + r_json['message']['court_id']
                                  + '/'
                                  + r_json['message']['role']
                                  + '/'
        }     
        else {
            err_json = JSON.parse(xhr.response)
            show_join_error_message(err_json['message'])
        }
    }
    xhr.onerror = function() {
            alert("An error has occurred.")
    }
    xhr.send(form_data)
});            

</script>

{% endblock content %}