<!DOCTYPE html>
<html class='h-100'>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class='h-100'>

<div class='container h-100'>

    <div class='row h-25 align-items-end justify-content-center'>
        <div class='col-4 text-center'>COL3</div>
    </div>
    <div class='row row-cols-2 justify-content-center'>
        <div class='col-4'>COL2</div>
        <div class='col-4'>COL3</div>
    </div>
</div
</body>
</html>
